.admin__search {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.admin__search>input,
select {
    height: 50px;
    border: 1px solid #E3DED9;
    background: #F4F4F4;
    padding-left: 20px;
}

.admin__search-box__txt {
    width: 35%;
    position: relative;
}

.admin__search-txt {
    width: 100%;
    padding-left: 20px;
    height: 50px;
    border: 1px solid #E3DED9;
    background: #F4F4F4;
}

.admin__search-txt::placeholder {
    color: #BEB1A6;
    font-size: 16px;
}

.admin__search-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.admin__search-btn>img {
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.admin__search-gender:invalid,
.admin__search-category:invalid {
    color: #8B7969;
}

.admin__search-gender>option,
.admin__search-category>option {
    color: #000;
}

.admin__search-box__gender {
    width: 10%;
    position: relative;
}

.admin__search-gender {
    font-size: 20px;
    width: 100%;
    appearance: none;
}

.admin__search-box__gender::before,
.admin__search-box__category::before,
.admin__search-date::after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15.5px 9px 0 9px;
    border-color: #E0DFDE transparent transparent transparent;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;
}

.admin__search-box__category {
    width: 24%;
    position: relative;
}

.admin__search-category {
    font-size: 20px;
    width: 100%;
    appearance: none;
}

.admin__search-date {
    width: 24%;
    position: relative;
}

.admin__search-date::before{
    content: '日付を選択してください';
    font-size: 18px;
    color: #8B7969;
    font-family: Arial, Helvetica, sans-serif;
}



.admin__search-date::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.admin__search-date::-webkit-datetime-edit {
    display: none;
}


.admin__group {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 70px auto 0 auto;
}

.adminn__group-export {
    background: #E1DBD6;
    border: none;
    height: 40px;
    font-size: 18px;
    line-height: 18px;
    color: #8B7969;
    padding: 10px 20px;
    cursor: pointer;
}


.admin__list {
    width: 1200px;
    margin: 0 auto;
}

.admin__list-table {
    width: 100%;
    margin-top: 35px;
}

.admin__list-table__row-1 {
    background-color: #8B7969;
    text-align: left;
    color: #FFF;
    font-size: 20px;
    height: 60px;
    border-top: 1px solid #8B7969;
    border-right: 1px solid #8B7969;
    border-left: 1px solid #8B7969;
}

.admin__list-table__header:first-child {
    padding-left: 55px;
}

.admin__list-table__row-2 {
    border: 1px solid #E0DFDE;
    height: 60px;
    font-size: 20px;
    color: #8B7969;
}


#name {
    padding-left: 55px;
    width: 18%;
}

#gender {
    width: 10%;
}

#email {
    width: 35%;
}

#category {
    width: 25%;
}

#category,
#detail {
    font-size: 18px;
}

.admin__list-table__item {
    padding-top: 30px;
    padding-bottom: 30px;
}

.admin__list-table__item-form__btn {
    border: 1px solid #E1DBD6;
    background: #FCFCFC;
    height: 40px;
    width: 80px;
    padding: 0;
    line-height: 40px;
    cursor: pointer;
}

.admin__list-table__item-form__btn>a {
    text-decoration: none;
    color: #E7DCD2;
    display: block;
}

.admin__submit {
    text-align: center;
    margin-top: 85px;
    margin-bottom: 50px;
    min-width: 1200px;
}

.admin__submit-btn {
    background: #8B7969;
    border: none;
    font-size: 20px;
    height: 45px;
    width: 160px;
    padding: 0;
}

.admin__submit-link {
    color: #fff;
    display: block;
    line-height: 45px;
}


.detail__modal {
    background: #fff;
    width: 800px;
    height: auto;
    padding-bottom: 50px;
    border: 1px solid #E3DEDA;
    box-shadow: 5px 5px 5px #E3DEDA;
    margin: 0 auto;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    transition: all .6s;
}

.detail__modal:target {
    visibility: visible;
    opacity: 1;
}

.detail__close {
    text-align: right;
    padding: 20px 20px 50px 0;
}

.detail__close-btn {
    border: none;
    background: transparent;

}

.detail__close-btn>img {
    width: 40px;
    height: auto;
}

.detail__list {
    width: 80%;
    margin: 0 auto;
}

.detail__list-table__row {
    text-align: left;
    color: #8B7969;
}

.detail__list-table__header,
.detail__list-table__item {
    padding-top: 15px;
    padding-bottom: 15px;
}

.detail__list-table__header {
    font-size: 20px;
    width: 30%;
}

.detail__list-table__item {
    padding-left: 70px;
    font-size: 20px;
}

#detail-content {
    vertical-align: top;
}


.detail__delete {
    text-align: center;
    padding-top: 100px;
}

.detail__delete-btn {
    border: none;
    background: #BA370D;
    color: #fff;
    font-size: 18px;
    height: 40px;
    width: 75px;
    cursor: pointer;
    padding: 0;
}

svg.w-5.h-5 {
    width: 30px;
    height: 30px;
}

.text-sm.text-gray-700.leading-5 {
    display: none;
}

.flex.justify-between.flex-1.sm\:hidden {
    display: none;
}