
.confirm{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.confirm__table{
    width: 100%;
}

.confirm__table-area{
    border: 1px solid #E0DFDE;
    background: #BAA899;
    color: #fff;
    font-size: 20px;
    padding: 20px 0 20px 45px;
    width: 30%;
}

.confirm__table-item{
    border: 1px solid #E0DFDE;
    font-size: 20px;
    padding-left: 30px;
    color: #8B7969;
}

#detail{
    white-space: pre-line;
}

.confirm__submit {
    text-align: center;
    margin-top: 30px;
}

.confirm__submit-btn {
    background: #8B7969;
    color: #fff;
    border: none;
    font-size: 20px;
    height: 40px;
    width: 120px;
    cursor: pointer;
}


.confirm__fix{
    position: relative;
}

.confirm__fix-link{
    text-decoration: none;
    border: none;
    color: #8B7969;
    font-size: 20px;
    position: absolute;
    right: 35%;
    transform: translateY(-100%);
    cursor: pointer;
    height: 40px;
    background: transparent;
}

.confirm__fix-link__txt{
    margin: 0 auto;
    border-bottom: 1px solid #8B7969;
    line-height: 20px;
}
